
@import "tailwindcss";

.mat-mdc-header-cell, 
.mat-mdc-cell {
  border-bottom: none !important;  
  box-shadow: none !important;   
}


.topbar {
    height: 57px !important;
}

.mat-mdc-header-cell{
  background-color: white !important;
}

.mat-mdc-row:hover {
  background-color: #f9fafb !important;
}


.mat-form-field-appearance-outline .mat-form-field-outline {
  border: none !important;
}

.mat-mdc-table {
  background-color: white !important;
}

.mat-mdc-paginator {
  .mat-mdc-paginator-page-size {
    &:before {
      content: 'Rows per page:';
    }
  }

  .mat-mdc-paginator-page-size-label {
    display: none;
  }
}

.mat-mdc-cell {
  border: none !important;

  &.sticky-actions {
    border-left: 1px solid #d1d5db !important;
    position: sticky !important;
  }
}

.mdc-data-table__row:nth-child(even) .mat-mdc-cell {
  background-color:  #F8F8F8 !important;
}

.mdc-data-table__row:nth-child(odd) .mat-mdc-cell {
  background-color: white !important;
}

.mat-sm-text-field {
  .mdc-text-field--filled {
    height: 40px !important;
  }
}

.mat-sm-input {
  .mat-mdc-form-field-flex:not(:has(textarea)) {
    height: 40px !important;

    .mat-mdc-form-field-infix {
      padding-top: 6px !important;
      padding-bottom: 6px !important;
    }
  }

  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label:not(.mdc-floating-label--float-above) {
    top: 18px !important;
  }
}


.dialog-wrapper {
  position: relative;
  min-width: unset !important;
  max-width: unset !important;

  .close {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .close-icon {
    position: absolute;
    right: 5px;
    top: 10px
  }

  .mat-mdc-dialog-content {
    color: inherit !important;
  }

  .mat-mdc-dialog-surface {
    border-radius: 6px !important;
    overflow: hidden !important;
  }

  .mat-mdc-dialog-title::before {
    height: 30px !important;
  }
}

.action-panel {
  background-color: white !important;

  .mat-mdc-menu-item {
    min-height: 32px !important;
  }
}

.mat-md-icon {
  height: 18px !important;
  width: 18px !important;
  font-size: 18px !important;
}

.text-primary{
  color: #1C2B70
}